.container {
  margin-top: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: bold;
}

.input {
  padding: 8px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}